<nav class="menu">
  <% if @current_user.present? %>
  <h3>Welcome <span id="currentUserName"><%= @current_user.name %></span></h3>

  <script>
    var app = app || {};
    app.current_user = <%= @current_user.to_json.html_safe %>;
  </script>

  <a href="#store">Store&nbsp;</a>
  <!-- <a href="#mydetails">My Details&nbsp;</a> -->
  <%#=# link_to 'Logout', logout_path, method: :delete %>
  <% end %>
</nav>

<div id="container">
  <div id="main"></div>
</div>

<!-- Store view -->
<script id="storePageViewTemplate" type="text/template">
  <h1>The store products should go here...</h1>
</script>

<!-- Template to edit current user details -->
<script type="text/template" id="EditUserDetailsPageViewTemplate">
  <hr>
  <form action="">
    <label>Name</label>
    <input type="text" name = "name" id="name" value="{{ name }}">
    <label>Email</label>
    <input type="text" name = "email" id="email" value="{{ email }}">
    <label>Password</label>
    <input type="password" name = "password" id="password">
    <label>Password Confirmation</label>
    <input type="password" name = "password_confirmation" id="password_confirmation">
    <div id="error"></div>
    <button type="submit" class="editButton">Submit</button>
    <div id="message"></div>
  </form>
</script>

