<nav class="menu">
  <h3>Welcome <%= @current_user.name %></h3>
  <a href="#store">Store&nbsp;</a>
  <!-- <a href="#mydetails">My Details&nbsp;</a> -->
  <% if @current_user.present? %>
  <%#=# link_to 'Logout', logout_path, method: :delete %>
  <% end %>
</nav>

<div id="container">
  <div id="main"></div>
</div>

<script id="storePageViewTemplate" type="text/template">
  <h1>The store products should go here...</h1>
</script>
