<nav class="menu">
  <% if @current_user.present? %>
  <h3>Welcome <span id="currentUserName"><%= @current_user.name %></span></h3>

  <script>
    var app = app || {};
    app.current_user = <%= @current_user.to_json.html_safe %>;
  </script>

  <a href="#store">Store&nbsp;</a>

  <% end %>
</nav>

<div id="main"></div>

<!-- Store View -->
<script id="storePageViewTemplate" type="text/template">
  <h2>Products</h2>
  <div class="entry row">
  </div>
  <div id="productViewContainer"></div>
  <div id=""></div>
</script>

<!-- Product Views -->
<script id="productListItemViewTemplate" type="text/template">
    <div class="col-lg-4 col-sm-8">
      <div class="thumbnail">
        <img src="{{ image }}" />
        <div class="caption">
          <h4>{{ name }}</h4>
          <div class="price_line">
            <span class="price">${{ price }}</span>
          </div>
          <button class="btn btn-primary addCartButton">Add to Cart</button>
        </div>
      </div
    </div>
</script>

<script type="text/template" id="viewProductTemplate">
  <div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ name }}</h4>
        </div>
        <div class="modal-body">
          <p>Product Description: {{ description }}</p>
          <img src="{{image}}">
          <p>Price: {{ price }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>

<!-- Product Views -->
<script id="productListItemViewTemplate" type="text/template">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="{{ image }}" />
        <div class="caption">
          <h4>{{ name }}</h4>
          <div class="price_line">
            <span class="price">${{ price }}</span>
          </div>
          <button class="btn btn-primary addCartButton">Add to Cart</button>
        </div>
      </div
    </div>
</script>



<!-- Order View -->
<script type="text/template" id="orderPageViewTemplate">

  <form action="">
  <h2>Enter your contact Details</h2>

      <label>First Name</label>
      <input type="text" placeholder="Firstname" name = "firstName" id="firstName" class="form-control">
    <br>
      <label>Last Name</label>
      <input type="text" name = "lastName" id="lastName" class="form-control">
    <br>
      <label>Street Line1</label>
      <input type="text" name = "streetLine1" id="streetLine1" class="form-control">
    <br>
      <label>Street Line2</label>
      <input type="text" name = "streetLine2" id="streetLine2" class="form-control">
    <br>
      <label>Postcode</label>
      <input type="text" name = "postcode" id="postcode" class="form-control">
    <br>
      <label>Suburb</label>
      <input type="suburb" name = "suburb" id="suburb" class="form-control">
    <br>
      <label>State</label>
      <select id="state" class="form-control">
        <option value="Australia Capital Territory">Australia Capital Territory</option>
        <option value="New South Wales">New South Wales</option>
        <option value="Northern Territory">Northern Territory</option>
        <option value="Queensland">Queensland</option>
        <option value="South Australia">South Australia</option>
        <option value="Tasmania">Tasmania</option>
        <option value="Victoria">Victoria</option>
        <option value="Western Australia"></option>
      </select>
    <br>
      <label>Payment Type</label>
      <select id="payment_type" class="form-control">
        <option value="Debit Card">Debit Card</option>
        <option value="Credit Card">Credit Card</option>
      </select>
    <br>
      <div id="error"></div>
      <button type="submit" class="editButton">Confirm Order</button>
  </form>
</script>

<!-- Template to edit current user details -->
<script type="text/template" id="EditUserDetailsPageViewTemplate">
  <hr>
  <form action="">
    <label>Name</label>
    <input type="text" name = "name" id="name" value="{{ name }}" class="form-control">
    <label>Email</label>
    <input type="text" name = "email" id="email" value="{{ email }}" class="form-control">
    <label>Password</label>
    <input type="password" name = "password" id="password" class="form-control">
    <label>Password Confirmation</label>
    <input type="password" name = "password_confirmation" id="password_confirmation" class="form-control">
    <div id="error"></div>
    <button type="submit" class="editButton btn btn-default">Submit</button>
    <div id="message"></div>
  </form>
</script>

<script type="text/template" id="cartPageViewTemplate">
  <ul class="itemList"></ul>
</script>

<script type="text/template" id="cartListItemPageViewTemplate">
<div class="row-right">
  <div class="table-striped">
    <div id="tbl-row">
      <div id="tbl-title">Product</div>
      <div id="tbl-details">{{ name }}</div>
    </div>
    <div id="tbl-row">
      <div id="tbl-title">Price</div>
      <div id="tbl-details">${{ price }}</div>
    </div>
    <div id="tbl-row">
      <div id="tbl-title">Quantity</div>
      <div id="tbl-details"><input type="number" value="{{ quantity }}" class="valueQuantity"></div>
    </div>
    <div id="tbl-row">
      <div id="tbl-title">Total Amount </div>
      <div id="tbl-details" class="total-price"></div>
    </div>
    <div id="tbl-row" class="buttons-a">
    <div id="tbl-title"><button class="btn btn-primary button_check_val">Checkout</button></div>
    </div>
    <div id="tbl-row" class="buttons-b">
      <div id="tbl-title"><button class="cs btn btn-warning button_check_val">Continue Shopping</button></div>
      <div id="tbl-details"><button class="btn btn-danger">Delete Cart</button></div>
    </div>
  </div>
</div>
</script>




