<p id="notice"><%= notice %></p>
<table>

<% if line_item == @current_item %>
    <tr id="current_item">
  <% else %>
    <tr>
  <% end %>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.product.name %></td>
    <td class="item_price"><%= line_item.line_item_total_price %></td>
  </tr>
</table>